@model Lecture.Models.WriterModel
<h1>View One</h1>
<table class="table">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Is Published</th> 
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scrope="row">@Model.id</th>
            <td>@Model.fName @Model.lName</td>
            <td>@Model.age</td>
            <td>@Model.isPublished</td>
        </tr>   
    </tbody>
</table>
<a asp-area="" asp-controller="Primary" asp-action="EditForm" asp-route-id = "@Model.id">
    <button class="btn btn-primary">Edit</button>
</a>
<a asp-area="" asp-controller="Primary" asp-action="DeleteWriter" asp-route-writerID = "@Model.id">
    <button class="btn btn-danger">Delete</button>
</a>

